<footer class="footer">

    <a href="/tarjetas" class="footer__link">
        <img src="img/card.png" class="footer__link__icon">
        <p class="footer__link__text">Tarjetas</p>
    </a>
    
    <a href="/redimir" class="footer__link">
        <img src="img/catalog.png" class="footer__link__icon">
        <p class="footer__link__text">Redimir</p>
    </a>
    
    <a href="/" class="footer__link">
        <img src="img/foryou.png" class="footer__link__icon">
        <p class="footer__link__text">Para tí</p>
    </a>
    
    <a href="/" class="footer__link">
        <img src="img/flag.png" class="footer__link__icon">
        <p class="footer__link__text">Juega</p>
    </a>
    
    <a href="/" class="footer__link">
        <img src="img/profile.png" class="footer__link__icon">
        <p class="footer__link__text">Perfil</p>
    </a>

</footer>

<script>
    var a=document.getElementsByTagName("a");
    for(var i=0;i<a.length;i++)
    {
        a[i].onclick=function()
        {
            window.location=this.getAttribute("href");
            return false
        }
    }
</script>

</body>
</html>