<!DOCTYPE html>
<html lang="es">
<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <title>Bloothers</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/vendor.css"> -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- Scripts -->
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>


    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>

<div class="header-div">
    <img class="header-div__logo" src="img/scotiabank-logo.png">
</div>
<body>

