<% include ./partials/header %>

<h1 class="primary-header">Redime puntos</h1>

<div class="wrapper wrapper--flex wrapper--max-width-350px">
    <a class="simple-btn">Todos</a>
    <a class="simple-btn">Categorías</a>
</div>

<div class="wrapper">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="points-card points-card--margin-top-20">
                <div class="points-card__img points-card__img--lenceria"></div>
                <div class="points-card__content">
                    <h4 class="points-card__content__title">50% Lencería</h4>
                    <img class="points-card__content__retail-img" src="img/distrihogar.png">
                    <a class="points-card__content__button">
                        <div class="points-card__content__button__outter-bar">
                            <p>40.000</p>
                            <div class="points-card__content__button__outter-bar__inner"></div>
                        </div>
                    </a>
                    <a class="points-card__content__button-2">Puntos + Dinero</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="points-card">
                <div class="points-card__img points-card__img--dron"></div>
                <div class="points-card__content">
                    <h4 class="points-card__content__title">30% DJI Dron</h4>
                    <img class="points-card__content__retail-img" src="img/falabella.png">
                    <a class="points-card__content__button">
                            <div class="points-card__content__button__outter-bar">
                                <p>65.000</p>
                                <div class="points-card__content__button__outter-bar__inner points-card__content__button__outter-bar__inner--60"></div>
                            </div>
                        </a>
                        <a class="points-card__content__button-2">Puntos + Dinero</a>
                </div>
            </div>
        </div>
    </div>
</div>



<% include ./partials/footer %>