.wrapper {
    margin: 20px auto;
    padding: 0 18px;

    &--medium-margin-bottom {
        margin-bottom: 40px;
    }

    &--max-width-350px {
        max-width: 350px;
    }

    &--flex {
        display: flex;
        justify-content: space-around;
    }
}